.scroll-container {
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #000000 #2F3349;
  }
  
  .scroll-container::-webkit-scrollbar {
    width: 2px;
  }
  
  .scroll-container::-webkit-scrollbar-track {
    background-color: #2F3349;
  }
  
  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #484D6E;
  }
  label.btn.btn-primary.drawer-button.lg\:hidden {
    position: absolute;
    top: 7%;
    left: 8%;
    z-index: 10000000000;
}
.avatar.online:before {
  bottom: 7%;
  left: 7%;
}
.avatar > div {
  width: 65px;
  height: 65px;
}
.indicator {
  margin-right: 30px;
}.top-nav-border-custom {
  border: 2px solid #484d6e;
}
.drawer-mobile > .drawer-toggle ~ .drawer-content {
  overflow-x: hidden;
}